@model University_For_All.Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Faculty/_FacultyDetailsLayout.cshtml";
}

<img src="@Url.Content(Model.fc_logo)" alt="@Model.fc_name Logo" style="height: 200px; max-height: 100%; width:100%;max-width: 100%"/>   
<h1 align="center">@Model.fc_name</h1>
<hr style="text-align: center; font-weight: bold;color: darkgray"/>
<p align="center">@Model.fc_description</p> 