@model IEnumerable<University_For_All.Models.Faculty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Faculty/_FacultyLayout.cshtml";
}
@{
    var right = true;
}
<section class="creative">
    @foreach (var faculty in @Model)
    {
        if (right)
        {
            <div class="right">
                <a href="/Faculty/Details?id=@faculty.id">
                    <h1>@faculty.fc_name</h1><img src="@Url.Content(faculty.fc_logo)">
                </a>
            </div>
            right = false;
        }
        else
        {
            <div class="left"><a href="/Faculty/Details?id=@faculty.id"><h1>@faculty.fc_name</h1><img src="@Url.Content(faculty.fc_logo)"></a></div>
            right = true;
        }
    }
</section>


